---
// Components
import { Icon } from 'astro-icon/components';
---

<div class="fixed hidden inset-0 items-center justify-center" id="modal">
  <div class="bg-black/70 fixed inset-0 z-40" id="modal-bg"></div>
  <div class="bg-red-500 font-bold hidden p-4 text-2xl z-50" id="modal-error">
  </div>
  <div
    class="bg-blue-500 flex-col h-5/6 hidden pb-2 pt-1 px-2 w-11/12 z-50 md:h-2/3 md:w-1/2"
    id="modal-text">
    <div class="flex gap-1 items-center">
      <Icon name="mdi:file-text-outline" />
      <span></span>
    </div>
    <div class="bg-white flex-grow overflow-y-auto text-black w-full">
      <pre class="break-all my-1 px-1 text-wrap"></pre>
    </div>
  </div>
  <div
    class="bg-blue-500 flex-col hidden max-h-[80%] pb-2 pt-1 px-2 max-w-[90%] z-50 md:max-w-[50%]"
    id="modal-image">
    <div class="flex gap-1 items-center">
      <Icon name="mdi:file-text-outline" />
      <span></span>
    </div>
    <img class="object-contain overflow-hidden" />
  </div>
  <div class="bg-blue-500 gap-2 items-center hidden p-2 z-50" id="modal-blob">
    <Icon class="text-6xl" name="mdi:package-variant-closed" />
    <span class="font-bold text-2xl">File transmitted</span>
  </div>
</div>
