/* Scrollbar */
::-webkit-scrollbar {
  @apply h-2 w-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 cursor-pointer rounded;
}
::-webkit-scrollbar-track {
  @apply bg-neutral-500 cursor-pointer;
}

/* Default anchor */
a {
  @apply text-blue-500 transition-colors hover:text-red-500;
}
