---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="FUTURE 攻坚组">
  <h1 class="font-bold my-40 text-3xl text-center select-none">Constructing</h1>
</BaseLayout>
