---
import { puzzles } from '@/utils/meta';
import moment from 'moment';

// Layouts
import ArchiveLayout from '@/layouts/ArchiveLayout.astro';

// Components
import { Icon } from 'astro-icon/components';
---

<ArchiveLayout title="所有谜题" total={puzzles.length}>
  <div class="gap-4 grid md:grid-cols-2">
    {
      puzzles.map(({ slug, data }) => (
        <a
          class="border border-neutral-600 flex items-center justify-between p-4 rounded-lg text-white hover:bg-neutral-800 hover:text-white"
          href={`/puzzles/${slug}`}
          title={data.title}>
          <div class="flex flex-col gap-2">
            <h1 class="font-bold text-lg">{data.title}</h1>
            <div class="flex gap-1 items-center text-neutral-500 text-sm">
              <Icon name="mdi:calendar" />
              <span>{moment(data.published_at).format('YYYY/MM/DD')}</span>
            </div>
          </div>
          {data.report ? (
            <Icon class="text-5xl text-neutral-700" name="mdi:box-variant" />
          ) : (
            <Icon
              class="text-5xl text-neutral-500"
              name="mdi:box-variant-closed"
            />
          )}
        </a>
      ))
    }
  </div>
</ArchiveLayout>
