---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="谜题 - FUTURE 攻坚组">
  <div class="fixed flex inset-0 items-center justify-center">
    <h1 class="font-bold text-3xl select-none">
      <a href="/">Constructing</a>
    </h1>
  </div>
</BaseLayout>
