---
// Style sheets
import '@/styles/base.css';
import '@/styles/font.css';

// Components
import { SEO } from 'astro-seo';
import Preloader from '@/components/Preloader.astro';
import TimeCapsuleForm from '@/components/time-capsule/TimeCapsuleForm.astro';
import TimeCapsuleModal from '@/components/time-capsule/TimeCapsuleModal.astro';
---

<html lang="zh">
  <head>
    <SEO title="Time Capsule" charset="utf-8" />
    <link href="/favicon.svg" rel="icon" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <script
      src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"
      defer
      is:inline></script>
  </head>
  <body class="bg-neutral-900 font-misans text-white">
    <Preloader />
    <TimeCapsuleForm />
    <TimeCapsuleModal />
    <script src="@/scripts/time-capsule"></script>
  </body>
</html>
