---
// Style sheets
import '@/styles/base.css';

// Components
import { SEO } from 'astro-seo';
import Preloader from '@/components/Preloader.astro';
import TimeCapsuleForm from '@/components/time-capsule/TimeCapsuleForm.astro';
import TimeCapsuleModal from '@/components/time-capsule/TimeCapsuleModal.astro';

// Fonts
import { css as miNormal } from '@/assets/fonts/MiSans-Normal.ttf';
import { css as miSemi } from '@/assets/fonts/MiSans-Semibold.ttf';
---

<html lang="zh">
  <head>
    <SEO title="Time Capsule" charset="utf-8" />
    <link href="/favicon.svg" rel="icon" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <script
      src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"
      defer
      is:inline></script>
    <style
      define:vars={{ miNormal: miNormal.family, miSemi: miSemi.family }}
      is:global
    >
      .font-misans {
        font-family: var(--miNormal);
      }
      .font-bold {
        font-family: var(--miSemi);
        font-weight: unset;
      }
    </style>
  </head>
  <body class="bg-neutral-900 font-misans text-white">
    <Preloader />
    <TimeCapsuleForm />
    <TimeCapsuleModal />
    <script src="@/scripts/time-capsule"></script>
  </body>
</html>
