---
// Components
import ExternalLink from '@/components/utils/ExternalLink.astro';
---

<footer
  class="bg-neutral-950 flex flex-col gap-2 items-center justify-center mt-auto p-8 text-center text-neutral-500 text-sm w-full">
  <p>
    本站所有内容除另有声明外，均在 <ExternalLink
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans"
      >知识共享 署名-非商业性使用-相同方式共享 4.0 国际（CC BY-NC-SA
      4.0）许可协议</ExternalLink
    > 下提供
  </p>
  <div class="flex gap-2 items-center justify-center">
    <p>&copy;{new Date().getFullYear()} FUTURE 攻坚组</p>
    <p class="hidden select-none md:block">|</p>
    <p class="hidden md:block">
      使用 <ExternalLink href="https://astro.build">Astro</ExternalLink> 强力驱动
    </p>
    <p class="select-none">|</p>
    <p>
      <ExternalLink href="https://github.com/theTeamFuture">GitHub</ExternalLink
      >
    </p>
  </div>
</footer>
