---
// Components
import { Icon } from 'astro-icon/components';

// Functions
const isCurrentNav = (target: string): boolean => {
  const pathname: string = new URL(Astro.request.url).pathname;
  const next: number = pathname.indexOf('/', 1);

  return (next === -1 ? pathname : pathname.slice(0, next)) === target;
};
---

<header
  class="bg-neutral-900 border-b-2 border-neutral-600 flex items-center justify-between p-4 select-none sticky top-0 z-[998] md:px-8">
  <a class="flex items-center gap-2" href="/">
    <Icon class="text-transparent h-10 w-10" name="logo" />
    <h1 class="font-bold text-xl text-white">FUTURE 攻坚组</h1>
  </a>
  <nav class="hidden gap-8 items-center md:flex">
    <a
      class:list={[
        'flex flex-col items-start transition-colors hover:text-sky-400',
        isCurrentNav('/') ? 'text-sky-400' : 'text-white'
      ]}
      href="/">
      <span class="leading-none text-lg">INDEX</span>
      <span class="text-sm">首页</span>
    </a>
    <a
      class:list={[
        'flex flex-col items-start transition-colors hover:text-sky-400',
        isCurrentNav('/about') ? 'text-sky-400' : 'text-white'
      ]}
      href="/about">
      <span class="leading-none text-lg">ABOUT</span>
      <span class="text-sm">关于</span>
    </a>
    <a
      class:list={[
        'flex flex-col items-start transition-colors hover:text-sky-400',
        isCurrentNav('/posts') ? 'text-sky-400' : 'text-white'
      ]}
      href="/posts">
      <span class="leading-none text-lg">POSTS</span>
      <span class="text-sm">文章</span>
    </a>
    <a
      class:list={[
        'flex flex-col items-start transition-colors hover:text-sky-400',
        isCurrentNav('/puzzles') ? 'text-sky-400' : 'text-white'
      ]}
      href="/puzzles">
      <span class="leading-none text-lg">PUZZLES</span>
      <span class="text-sm">谜题</span>
    </a>
  </nav>
  <button class="md:hidden" id="nav-menu-btn" transition:persist>
    <Icon class="text-2xl" name="mdi:menu" />
  </button>
  <div
    class="bg-black/90 fixed hidden items-center justify-center inset-0 z-40"
    id="alt-nav"
    transition:persist>
    <div class="flex flex-col gap-4">
      <a
        class="flex gap-2 items-baseline text-white transition-colors hover:text-sky-400"
        href="/">
        <span class="text-xl">INDEX</span>
        <span>首页</span>
      </a>
      <a
        class="flex gap-2 items-baseline text-white transition-colors hover:text-sky-400"
        href="/about">
        <span class="text-xl">ABOUT</span>
        <span>关于</span>
      </a>
      <a
        class="flex gap-2 items-baseline text-white transition-colors hover:text-sky-400"
        href="/posts">
        <span class="text-xl">POSTS</span>
        <span>文章</span>
      </a>
      <a
        class="flex gap-2 items-baseline text-white transition-colors hover:text-sky-400"
        href="/puzzles">
        <span class="text-xl">PUZZLES</span>
        <span>谜题</span>
      </a>
    </div>
  </div>
</header>

<script>
  // Show alternative navigation bar
  document
    .querySelector<HTMLButtonElement>('#nav-menu-btn')!
    .addEventListener('click', (): void => {
      anime({
        targets: '#alt-nav',
        opacity: ['0', '1'],
        duration: 200,
        easing: 'linear',
        begin: (): void => {
          document.querySelector<HTMLDivElement>('#alt-nav')!.style.display =
            'flex';
        }
      });
    });

  // Hide alternative navigation bar
  document
    .querySelector<HTMLDivElement>('#alt-nav')!
    .addEventListener('click', (): void => {
      anime({
        targets: '#alt-nav',
        opacity: ['1', '0'],
        duration: 200,
        easing: 'linear',
        complete: (): void => {
          document.querySelector<HTMLDivElement>('#alt-nav')!.style.display =
            'none';
        }
      });
    });
</script>
