<div
  class="bg-neutral-950 fixed flex gap-[10px] inset-0 items-center justify-center z-[1000] *:bg-white *:h-1 *:rounded-sm *:w-1"
  id="preloader"
  transition:persist>
  <div></div>
  <div style={{ animationDelay: '0.1s' }}></div>
  <div style={{ animationDelay: '0.2s' }}></div>
  <div style={{ animationDelay: '0.3s' }}></div>
  <div style={{ animationDelay: '0.4s' }}></div>
  <div style={{ animationDelay: '0.5s' }}></div>
</div>

<style>
  @keyframes stretch {
    0% {
      height: 5px;
    }
    50% {
      height: 30px;
    }
    100% {
      height: 5px;
    }
  }

  #preloader > div {
    animation: stretch 1s ease-in-out infinite;
  }
</style>

<script>
  window.addEventListener('load', (): void => {
    anime({
      targets: '#preloader',
      opacity: [1, 0],
      duration: 500,
      easing: 'easeInOutCubic',
      complete: () => {
        document.querySelector<HTMLDivElement>('#preloader')!.style.display =
          'none';
      }
    });
  });
</script>
