---
// Style sheets
import '@/styles/markdown.css';

// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Types
type Props = {
  title: string;
  total: number;
};

// Injects
const { title, total } = Astro.props;
---

<BaseLayout
  title={`${title} - FUTURE 攻坚组`}
  og={{
    basic: {
      title: `${title} - FUTURE 攻坚组`,
      type: 'website',
      image: '/favicon.svg',
      url: Astro.request.url
    }
  }}>
  <main
    class="flex flex-col gap-4 mx-4 my-12 lg:min-w-[768px] lg:mx-auto lg:w-1/2">
    <h1 class="font-bold text-2xl">{title} ({total})</h1>
    <slot />
    <div
      class="font-bold mb-auto text-center text-neutral-800 text-sm select-none">
      End of Archives
    </div>
  </main>
</BaseLayout>
