---
import type { SEOProps } from 'astro-seo';

// Style sheets
import '@/styles/base.css';

// Components
import { SEO } from 'astro-seo';
import { ViewTransitions } from 'astro:transitions';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import LoadBar from '@/components/LoadBar.astro';
import Preloader from '@/components/Preloader.astro';

// Types
type Props = {
  title: string;
  og?: SEOProps['openGraph'];
  extend?: SEOProps['extend'];
};

// Injects
const { title, og, extend } = Astro.props;
---

<html lang="zh">
  <head>
    <SEO title={title} charset="utf-8" openGraph={og} extend={extend} />
    <link href="/favicon.svg" rel="icon" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <link
      href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-one-dark.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"
      defer
      is:inline></script>
    <script>
      document.addEventListener('astro:page-load', (): void => {
        document
          .querySelectorAll<HTMLAnchorElement>('article a:not([target])')
          .forEach((el: HTMLAnchorElement): void => {
            const url: URL = new URL(el.href, location.origin);
            if (url.origin !== location.origin) {
              el.rel = 'nofollow noopener noreferer';
              el.target = '_blank';
            }
          });
      });
    </script>
    <ViewTransitions />
  </head>
  <body>
    <Preloader />
    <LoadBar />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
