---
// Style sheets
import "@/styles/base.css";

// Components
import { ClientRouter } from "astro:transitions";
import Loader from "@/components/Loader.astro";
import Preloader from "@/components/Preloader.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import SiteHeader from "@/components/SiteHeader.astro";

// Fonts
import { css } from "@/fonts/LXGWNeoXiHeiPlus.ttf";
---

<html lang="zh">
  <head>
    <!-- Title -->
    <slot name="head-title" />

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head-metas" />

    <!-- Links -->
    <link rel="canonical" href={Astro.url} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <slot name="head-links" />

    <!-- Styles -->
    <style define:vars={{ ff: css.family }} is:global>
      @import "tailwindcss";

      body {
        @apply bg-neutral-900 flex flex-col min-h-screen text-white;
        font-family: var(--ff);
      }
    </style>
    <slot name="head-styles" />

    <!-- Scripts -->
    <script>
      import { fetchAndShow } from "@/utils/vercount.client";

      // On page load
      document.addEventListener("astro:page-load", (): void => {
        // Add smooth scrolling for article anchors
        document
          .querySelectorAll<HTMLAnchorElement>(
            "article a:not([data-smooth-scrolling])"
          )
          .forEach((el: HTMLAnchorElement): void => {
            // If not an anchor
            if (!el.getAttribute("href")?.startsWith("#")) {
              return;
            }

            // Add listener
            el.addEventListener("click", (ev: MouseEvent): void => {
              ev.preventDefault();

              // Get target element
              const target: HTMLElement | null = document.querySelector(
                el.getAttribute("href")!
              );
              if (target === null) {
                return;
              }

              // Scroll to element
              window.scrollTo({
                top: window.scrollY + target.getBoundingClientRect().top - 80,
                behavior: "smooth",
              });
            });

            // Update attribute
            el.setAttribute("data-smooth-scrolling", "");
          });

        // Show site count
        fetchAndShow();
      });
    </script>
    <slot name="head-scripts" />

    <!-- View transition -->
    <ClientRouter />
  </head>
  <body>
    <Preloader />
    <Loader />
    <SiteHeader />
    <slot />
    <SiteFooter />
  </body>
</html>
