---
import type { MarkdownLayoutProps } from 'astro';

// Style sheets
import '@/styles/markdown.css';

// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import ArticleMeta from '@/components/ArticleMeta.astro';

// Types
type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  content_length: number;
}>;

// Injects
const { frontmatter } = Astro.props;
---

<BaseLayout
  title={`${frontmatter.title} - FUTURE 攻坚组`}
  og={{
    basic: {
      title: `${frontmatter.title} - FUTURE 攻坚组`,
      type: 'website',
      image: '/favicon.svg',
      url: Astro.request.url
    }
  }}>
  <main class="mx-4 my-12 lg:min-w-[768px] lg:mx-auto lg:w-1/2">
    <h1 class="font-bold text-3xl">{frontmatter.title}</h1>
    <ArticleMeta
      date={new Date(frontmatter.date)}
      length={frontmatter.content_length}
    />
    <article class="my-8">
      <slot />
    </article>
  </main>
</BaseLayout>
